body{
    background-color: grey;
    
    
}
.quote-container{
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    padding: 20px;
    background-color: aliceblue;
    width: 50%;
    
   
    
    
}