body{
    background-color: rgba(30, 12, 75, 0.723);
}
.box{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.container{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    width: max-content;
    height: auto;
    background-color: rgba(30, 12, 75, 0.723);

    border-radius: 10px;
}
.container-start{
    margin: 10px;
    background-color: rgba(84, 58, 148, 0.723);
    padding: 10px;
    display: block;
    color: aliceblue;
    text-align:justify;
    font-family: Arial, sans-serif;
  
}
.container-mines{
    margin: 10px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 10px 10px 10px 10px 10px;
    column-gap: 80px;
    
    width: 440px;
    /* overflow: hidden; */
    row-gap: 10px;

    
}
.child{
    text-indent: -9999px;
    background-color: rgba(120, 95, 183, 0.723);

    padding: 5px;
    width: 70px;
    height: 70px;
    
    border-radius: 2px;
    text-align: center;
    transition: background-color 0.3s, transform 0.1s;
}
.child:hover{
    background-color: rgb(167, 149, 214);

}
.child:active {
    background-color: rgb(135, 53, 160);
    transform: scale(0.98); /* Slightly reduce size on click for effect */
  }
@media (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  