body{
    margin: 0;
}
.navbar{
    height: 50%;
    text-align: center;
    background-color: aqua;
    
    
}
#in{
    padding: 60;
}
.container{
    margin: 10px;
    text-align: center;
}
#imm{
    display: none;
}